.container {
	background-color: #faedcd;
	font-family: 'Clash Display', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding-left: 3rem;
	padding-right: 3rem;

	color: #403d39
	

};

h1{

}

.main-Title {
	font-weight: 600;
	font-size: 3rem;
	font-weight: bold;
	color: #403d39;
	margin-top: 3rem;
}

.clock-timer {
	font-weight: bolder;
	font-size: 4rem;
	color: #c75146;
	margin-bottom: 3rem;
	margin-top: 3rem;

}

.clock-btn {
	padding: 0.6rem 1.8rem;
	font-size: 1.8rem;
	border-radius: 20px;
	color: #faedcd;
	border: none;
	font-family: 'Clash Display', sans-serif;

}

.clock-btn-start {
	background-color: #c75146;
}

.clock-btn-stop {
	background-color: #c75146;
}

.clock-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
.timers-table {
	margin-top: 3rem;
	width: 100%;
	border-collapse: collapse;
}

.timers-table th,
.timers-table td {
	padding: 0.5rem;
	text-align: left;
}

.timers-table th {
	border-bottom: 1px solid #c75146
}